* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Overpass', sans-serif;
    color: #18020C;

}

.container {
    /*  background-color: #BBCBCB; */
    width: 100%;
    /*  height: 100vh; */

}

.titleDiv {
    background: #db5bbb33;

    margin-top: 1rem;
    border-radius: 3px 50px 3px 50px;
}

.title {

    font-size: 40px;
    padding: 1rem 2rem 1rem 2rem;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;

}

.videoContainer {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0%;

}

video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    position: absolute;
    /*  transform: translate(-50%, -50%); */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 2;
    position: absolute;
    top: 3%;
    left: 30%;
}

.questSection {}

@media (max-width: 700px) {
    video {
        width: 100%;
        height: 100%;

        object-fit: cover;
        position: absolute;
        /*  transform: translate(-50%, -50%); */
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 2;
        position: absolute;
        top: 3%;
        left: 10%;
        width: 300px;
    }
}